In [30]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
values = [
    10.443473607301712, 12.046072632074356, 13.724647462368011, 11.390585452318192, 
    11.589843034744263, 10.298652201890945, 8.682016283273697, 13.843271136283875, 
    11.657586693763733, 11.104786396026611, 12.976239621639252, 11.061488091945648, 
    16.057905554771423, 12.098102271556854, 11.7450512945652, 15.233336389064789, 
    10.936948657035828, 9.788070619106293, 9.044242650270462, 9.047288447618484, 
    12.445323914289474, 10.581115633249283, 9.160233289003372, 8.51520225405693, 
    9.628905355930328, 9.543521702289581, 12.21686601638794, 9.278048574924469, 
    10.65315157175064, 11.306295543909073, 10.335564613342285, 9.477295726537704, 
    9.13158729672432, 11.597343534231186, 11.650410294532776, 14.621423184871674, 
    9.330389648675919, 14.332292973995209, 10.429208725690842, 10.39963886141777, 
    11.066092550754547, 10.47990694642067, 12.745872139930725, 11.545101553201675, 
    9.767688065767288, 10.2395698428154, 10.503224283456802, 13.66058886051178, 
    10.001124441623688, 9.728950262069702
]
models = [f"Modelo {i:02d}" for i in range(1, 51)]

In [3]:
days_in = [22, 19, 15, 29, 15, 22, 19, 27, 23, 27, 18, 22, 19, 24, 17, 21, 26, 20, 20, 17, 24, 17, 14, 17, 20, 16, 19, 18, 20, 21, 14, 17, 18, 16, 16, 19, 15, 21, 18, 17, 15, 18, 19, 18, 20, 16, 19, 23, 17, 21]
days_out = [1] * 50  # All values are 1, omitted for brevity
hidden_size = [42, 57, 32, 56, 54, 38, 46, 57, 62, 58, 48, 39, 43, 35, 48, 44, 38, 51, 50, 48, 52, 46, 51, 46, 44, 40, 50, 45, 64, 41, 54, 47, 50, 48, 42, 53, 46, 49, 55, 58, 46, 50, 49, 52, 43, 47, 32, 56, 50, 44]
lstm_layers = [2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
num_attention_heads = [4, 3, 2, 3, 4, 3, 3, 3, 2, 4, 2, 3, 3, 3, 4, 2, 3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, 3, 4, 4, 2, 3, 4, 4, 4, 4, 4, 3, 3, 4, 3, 4]
dropout = [0.2812, 0.1427, 0.3212, 0.0911, 0.2431, 0.3725, 0.3505, 0.1383, 0.0937, 0.0096, 0.3817, 0.3963, 0.3352, 0.3318, 0.2399, 0.3999, 0.3026, 0.3647, 0.2681, 0.2693, 0.2303, 0.2853, 0.2696, 0.3319, 0.3460, 0.3068, 0.3569, 0.3180, 0.3507, 0.2828, 0.3190, 0.2619, 0.2872, 0.2094, 0.3000, 0.2626, 0.3301, 0.2096, 0.2560, 0.3498, 0.3731, 0.2801, 0.2954, 0.3158, 0.2897, 0.2290, 0.3350, 0.3863, 0.2476, 0.1862]
batch_size = [30, 20, 30, 29, 22, 27, 24, 19, 29, 27, 24, 16, 26, 25, 32, 23, 27, 21, 21, 17, 19, 17, 18, 22, 22, 24, 21, 23, 25, 20, 22, 16, 18, 20, 23, 21, 19, 17, 26, 25, 20, 18, 18, 17, 22, 16, 19, 24, 21, 18]

In [21]:
best_values = []
c=0
for valu in values:
    if c in [23, 6, 18, 19, 32]:
        best_values.append(valu)
    c = c+1

In [59]:
best_num_attention_heads = []
c=0
for valu in num_attention_heads:
    if c in [23, 6, 18, 19, 32]:
        best_num_attention_heads.append(valu)
    c = c+1

In [60]:
best_num_attention_heads

[3, 4, 4, 4, 4]

In [22]:
best_values

[8.682016283273697,
 9.044242650270462,
 9.047288447618484,
 8.51520225405693,
 9.13158729672432]

In [28]:
best_models

['Modelo 07', 'Modelo 19', 'Modelo 20', 'Modelo 24', 'Modelo 33']

In [33]:
df['Modelos'] = pd.DataFrame(best_models)

In [40]:
del df[0]

In [45]:
df = df.set_index('Modelos')

In [43]:
df['smape'] = best_values

In [61]:
# df['days_in'] = best_days_in
# df['days_out'] = best_days_out
# df['hidden_size'] = best_hidden_size
# df['lstm_layers'] = best_lstm_layers
df['num_attention_heads'] = best_num_attention_heads
df['dropout'] = best_dropout
df['batch_size'] = best_batch_size

In [62]:
df

,smape,days_in,days_out,hidden_size,lstm_layers,num_attention_heads,dropout,batch_size
Modelos,,,,,,,,
Modelo 07,8.682016,19,1,46,1,3,0.3505,24
Modelo 19,9.044243,20,1,50,1,4,0.2681,21
Modelo 20,9.047288,17,1,48,1,4,0.2693,17
Modelo 24,8.515202,17,1,46,1,4,0.3319,22
Modelo 33,9.131587,18,1,50,1,4,0.2872,18